.contact-container {
  min-height: 100vh;
  background-color: black;
  padding-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.contact-content {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 90%;
  background: url('./images/form.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

