.footer-container {
  margin: 0 auto;
  background: url('./images/Background.png');
  background-size: cover;
  width: 98%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.footer-logos {
  display: flex;
  justify-content: space-between;
  width: 50%;


}

@media only screen and (max-width: 968px) {
  .footer-logos  {
    width: 70%;
  }
}




.footer-logos img{
  width: 200px;
  border-bottom: 2px solid white;
  padding-bottom: 20px;
  object-fit: contain;
}

@media only screen and (max-width: 968px) {
  .footer-logos img {
    width: 100px;
  }
}



.footer-list {
  width: 80%;
  margin: 0 auto
}

@media only screen and (max-width: 968px) {
  .footer-list {
    display: none;
  }
}


.footer-list ul {
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-size: 1.4rem;
}

.footer-list li {
  list-style: none;
}

.copyright {
  width: 80%;
  margin: 0 auto
}

.copyright p {
  color: white;
  font-size: .9rem;

}

.btn.btn-outline-primary {
  width: 150px;
  color: white;
  border: 1px solid white;
  border-radius: 0;
}