.top-mid-container {
  width: 100%;
  position: relative;
}

@media only screen and (max-width: 968px) {
  .top-mid-container {
   position: static;
  }
}


.top-midSection-container {
  height: 700px;
  width: 100%;
  object-fit: cover;
  background: url('./images/wall.jpg');
  background-repeat: no-repeat;
  /* background-position: center center; */
  display: flex;
  justify-content: center;

}

.mid-agents-container {
  width: 50%;
  margin: 0 auto;

}
@media only screen and (max-width: 1024px) {
  .mid-agents-container {
    width: 70%;

  }
}


.mid-agents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;

}


.mid-agents img {
  width: 300px;
  height: 370px;
  object-fit: cover;
}


.bottom-midSection-container{
  height: 500px;
  width: 100%;
  object-fit: cover;
  background: url('./images/building.jpg');
  background-position: bottom right;
  filter: grayscale(100%);
  display: flex;
  justify-content: center;
  align-items: center;
}


.team-box {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -35%;
  margin-top: -380px;
  height: 380px;
  width: 70%;
  background-color: #292929;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0 1px 2px 2px black;
  z-index: 999999999999;

}

@media only screen and (max-width: 968px) {
  .team-box {
    position: static;
    z-index: 99999999999999999;
    top: 0;
    margin-left: 0;
    margin-top: 0x;
    height: 380px;
    width: 70%;
    background-color: #292929;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
}


.team-box img {
  width: 300px;
}

.team-box-text {
  width: 80%;
  margin: 0 auto;
}

.btn-outline-light.btn-lg {
  color: #bba462;
  border-radius: 0;

}

.carousel-container .carousel .slide{ background-color: #1c1b3f; }

.comments {
  position: absolute;
  height: 220px;
  width: 60%;
  background-color: #1c1b3f;
  bottom: 550px;
  left: 50px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: .9rem;
  text-align: left;
  box-shadow: 0 1px 2px 2px black

}
@media only screen and (max-width: 968px) {
  .comments {
   display: none;
  }
}


.comment-icon {
  position: absolute;
  bottom: 750px;
  left: 15px;
  z-index: 999999;
  transform: scaleX(-1);
}

@media only screen and (max-width: 968px) {
  .comment-icon {
   display: none;
  }
}


.comments p{
  width: 80%;
  margin-bottom: 20px;
  padding-left: 20px;
  text-align: left;
}

.btn-outline-primary.btn-lg {
  color: white;
  border-radius: 0;
  border: white 1px solid;
  margin-right: 100px;
  align-self: flex-end;

}



.featured-container  {
  display: flex;
  align-items: center;
  text-align: left;
  margin-top: 150px;
}

@media only screen and (max-width: 968px) {
  .featured-container {
    margin-top: 30px;
  }
}


.featured-container p{
  margin-top: 30px;
  margin-bottom: 30px;
}

.featured-logo  {
  width: 200px;
}

@media only screen and (max-width: 968px) {
  .featured-container button {
    margin-bottom: 30px;
  }
}
